.header{
    max-width: 882px;
    border-bottom: 1px solid #545454;
    margin: 0 auto;
    padding-top: 45px;
    opacity: rgba(84,84,84,.7);
}

@media (max-width: 900px){
    .header{
        padding-top: 30px;
    }
}
