.elements__like-btn{
    background-image: url(../../../images/like.svg);
    height: 18.53px;
    background-size: cover;
    width: 22px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    padding: 0;

}
.elements__like-btn:hover{
    opacity: 0.6;
}