.elements__like-btn{
    background-image: url(../../../images/like.svg);
    height: 18.13px;
    background-size: cover;
    width: 20px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}